.App {
  text-align: center;
  display: flex;
  justify-content: center;
}

.fila {
  display: flex;
  background-color: rgb(87, 85, 85);
  width: 0%;
}
.calculadora {
  padding: 9px 0px;
  background-color: rgb(87, 85, 85);
  width: 400px;
  height: 500px;
  border-radius: 15px;
  margin: 4%;
}
.pantalla {
  display: block;
  height: 30px;
  border-radius: 15px;
  padding: 15px;
  display: block;
  background-color: lightgray;
}
.screen-container {
  background-color: rgb(56, 55, 55);
  padding: 20px;
  border-radius: 20px;
}
.screen-container2 {
  background-color: rgb(56, 55, 55);
  height: 20px;
  margin-top: -18px;
}
.boton {
  background-color: white;
  padding: 15px 30px;
  margin: 15px;
  border-radius: 20%;
}